[submodule "Class_register"]
	path = Class_register
	url = ../Class_register.git
[submodule "Dice_Game"]
	path = Dice_Game
	url = ../Dice_Game.git
[submodule "Adventure_game"]
	path = Adventure_game
	url = ../Adventure_game.git
[submodule "File_Sorter"]
	path = File_Sorter
	url = ../File_Sorter.git
[submodule "Web_scrapper_NBP"]
	path = Web_scrapper_NBP
	url = ../Web_scrapper_NBP.git
[submodule "API_Challenge"]
	path = API_Challenge
	url = ../API_Challenge.git
